# exclude PyCharm project settings and virtual environments
.idea/
.vscode/
venv/
conda/
wandb/
demm/
notes/
fig/
*models*/
results/

# exclude experiment scripts
*.sh

# exclude cached/compiled code
__pycache__/
.ipynb_checkpoints/
*.py[cod]
*$py.class

# exclude data files
*.DS_Store
*.zip
*.pickle
*.nc